.user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.user-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    transition: all 0.5s;
    transition-timing-function: linear;
    background: #ceeaf6;
    border: 2px solid #b5e4f6;
    filter: drop-shadow(#015c92 10px 10px 4px);
}

.user-card:hover{
    transform: scale(1.01,1.01);
    filter: drop-shadow(#013c5f 20px 20px 20px);
}
.user-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.user-info {
    flex: 1;
}

.user-info h3 {
    margin: 0;
    font-size: 1em;
}

.user-info p {
    margin: 0;
    color: #060606;
    font-size: 0.9em;
}

